<h1 class="title"><%= link_to "MICAELA JENIK", root_path %></h1>
<div class="py-4 sub">
  <h1 class="body canvas"><%= link_to "Canvas", artworks_path %></h1>
  <h1 class="body paper"><%= link_to "Paper", papers_path %></h1>
  <h1 class="body monocopies"> <%= link_to "Monocopies", monocopies_path %> </h1>
  <h1 class="body"> <%= link_to "About", about_path %> </h1>
</div>


